/*    HEADER   */

header {
    width:100%;
    display:block;
    text-align: center;
}

/*    BODY    */

body {    
font-family: sans-serif;
}

#login, #register {
    width:100%;
    display: block;
    text-align: center;
}

/*    LOGIN   */

#loginform {
    display: none;
}

/*    DISCOVER   */

#frontDiscover {
    width:100%;
    display: block;
    text-align: center;
}

/*   REGISTER    */

#register {
    text-align: center;
}

#confirminfo {
    text-align: center;
}

#saveuser {
    text-align: center;
}

.regError {
    text-align: center;
}