/*     FONTS            */


#bannerText h1 {
	display: inline;
	position: relative;
	font: 1.5em Helvetica, Sans-Serif;    
    letter-spacing:4px;
	color: rgba(0,0,0,0.5); 
}

#bannerText h1:after {
	content: "Profile";
	position: absolute; left: 1px; top: 1px;
	color: rgba(255,0,0,0.5);   
}

.feedTitle h2 {
    font-size: 1.3em;
}
	
/*     LISTS             */

ul {
    list-style-type: none;
    margin:0;
    padding: 0;
}
li {
    background-color: #ddd;
    width:100%;
    margin: 1% 0 1% 0;
    padding:1%;
    font-size: 1.5em;
    left:0;
}


/*     LEFT MENU         */

#leftMenu {
    width: 0;
    height: 100%;
    position:fixed;
    z-index:2;
    top:0;
    left:0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #fff;
    padding:0;
}

#filter {
    padding: 2%;
}
#collections {
    padding: 2%;
}
#favourites {
    padding: 2%;
}
/*     RIGHT MENUUUUU    */

#loginform {
    display: none;
}

#rightMenu {
    width: 0;
    height: 100%;
    position:fixed;
    z-index:3;
    top:0;
    right:0;
    overflow-x: hidden;
    transition: 0.5s;    
    background-color: #fff;
    padding: 0;
}

#profileBox {
    width: 100%;
    text-align: center;
    padding: 2%;
}

#profileName {
    text-align: center;
    width:100%;
    font-size: 1.3em;
}

#searchBar {
    display:none;
}
/*    PROFILE BANNER   */

#banner {
    width:100%;
}

#bannerText {
    width: 60%;
    float: right;
    position: absolute;
    top: 19%;
    right:10%;
    background:rgba(0,0,0,0); 	
    z-index: 1;
    text-align:right;
}

/*    FEEEEEEED   */

#feed {
    width:100%;
    transition: margin .5s;
}

.feedPost {
    width: 100%;
}
.feedPostImg {
    float:left;
    margin-top: 4%;
    width: 99%;
    background-color: #ddd;
    padding:0.5%;
}

.feedImg {
    width: 100%;
}

.feedInfo {
    width: 100%;
    margin:0;
    padding:0;
    background-color: #ddd;
    display: inline-flex;
}
.feedTitle {
    width:75%;
    margin: auto;
    display: inline-block;
    background-color: #ddd;
}
.feedAvatar {
    margin: auto;
    padding:0;
    width: 15%;
    float:right;
    z-index:1;
}
.feedFooter {
    width: 80%;
    margin: auto;
}
.feedFooterBox {
    width: 48%;
    padding:0.5%;
    display: inline-block;
}
.feedFooterBox2 {
    width: 48%;
    padding:0.5%;
    text-align: right;
    display: inline-block;
}

.resize {
	display: block;
    width:100%; 
}


