/*    HEADER   */

header {
    width:100%;
    display:block;
    text-align: center;
}

/*    BODY    */

body {    
font-family: sans-serif;
}

#login, #register {
    width:100%;
    display: block;
    text-align: center;
}

/*    DISCOVER   */

#frontDiscover {
    width:100%;
    display: block;
    text-align: center;
}